<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="row">
    <div class="col-md-offset-4">
        <button class="btn btn-info"><a href="{% url 'douban' %}">豆瓣</a></button>
        <button class="btn btn-info"><a href="{% url 'jd' %}">京东</a></button>
    </div>
</div>
<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>