<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>京东</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>


<div class="panel-heading">
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">Home</a></li>
        <span> / </span>
        <li class="active"><a href="{% url 'jd' %}">京东</a></li>
    </ol>
</div>

<table class="table">
    {% for p in phone %}
        <tr>
            <th scope="row">{{ p.id }}</th>
            <td>{{ p.name }}</td>
            <td>{{ p.price }}</td>
        </tr>
    {% endfor %}
</table>

<script src="/static/jquery-3.3.1.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>